.svg {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  --dds-chevron-transition: transform 0.2s linear;
}

.group {
  transition: var(--dds-chevron-transition);
}

.group--up {
  transform: translateY(-3px);
}

.group--down {
  transform: translateY(3px);
}

.left,
.right {
  transition: var(--dds-chevron-transition);
  stroke-linecap: round;
  transform-origin: center;
}

.left--up {
  transform: rotate(-45deg);
}
.left--down {
  transform: rotate(45deg);
}

.right--up {
  transform: rotate(45deg);
}
.right--down {
  transform: rotate(-45deg);
}
