.wrapper {
  width: 100%;
}

.wrapper--scrollable {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table--with-dividers {
  .row--body {
    border-bottom: 1px solid var(--dds-color-border-default);
  }

  .row--colapsible-header--open {
    border-bottom: none;
  }
}

.table--sticky-header {
  tr th {
    position: sticky;
    top: 0;
    z-index: var(--dds-zindex-sticky);
  }
}

.table--small {
  td,
  th {
    padding: var(--dds-spacing-x0-25) var(--dds-spacing-x0-5);
  }
  th {
    font: var(--dds-font-heading-xsmall);
    letter-spacing: var(--dds-font-heading-xsmall-letter-spacing);
    background-color: var(--dds-color-surface-default);
  }

  .row--body {
    &:nth-of-type(odd) {
      background-color: var(--dds-color-surface-subtle);
    }

    &:nth-of-type(even) {
      background-color: var(--dds-color-surface-default);
    }
  }
}

.table--medium {
  th {
    font: var(--dds-font-heading-small);
  }
  td,
  th {
    padding: var(--dds-spacing-x0-75);
  }
}

.table--large {
  th {
    font: var(--dds-font-heading-small);
  }
  td,
  th {
    padding: var(--dds-spacing-x1-5) var(--dds-spacing-x0-75);
  }
}

.row {
  @media (prefers-reduced-motion: no-preference) {
    transition:
      background-color 0.2s,
      border-color 0.2s,
      box-shadow 0.2s;
  }
}

.row--body {
  &:nth-of-type(even) {
    background-color: var(--dds-color-surface-subtle);
  }

  &:nth-of-type(odd) {
    background-color: var(--dds-color-surface-default);
  }
  &.row--sum,
  &.row--sum:nth-of-type(even),
  &.row--sum:nth-of-type(odd) {
    border-bottom: 1px solid var(--dds-color-border-default);
    border-top: 1px solid var(--dds-color-border-default);
    background: var(--dds-color-surface-default);
  }

  &.row--selected,
  &.row--selected:nth-of-type(even),
  &.row--selected:nth-of-type(odd) {
    background-color: var(--dds-color-surface-selected-default);
  }

  &.row--hoverable:hover {
    background-color: var(--dds-color-surface-hover-default);
  }
}

.cell--head {
  background-color: var(--dds-color-brand-primary-subtle);
  color: var(--dds-color-text-on-primary-subtle);
}

.cell--left {
  text-align: left;
}

.cell--right {
  text-align: right;
}

.cell--center {
  text-align: center;
}

.cell__inner {
  display: flex;
  align-items: center;
  gap: var(--dds-spacing-x0-75);
}

.sort-button {
  gap: var(--dds-spacing-x0-5);
  user-select: text;
  display: flex;
  align-items: center;
  color: inherit;

  @media (prefers-reduced-motion: no-preference) {
    transition: all 0.2s;
  }
}

.collapse-button {
  height: var(--dds-icon-size-medium);
  width: var(--dds-icon-size-medium);
  border-radius: var(--dds-border-radius-button);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;

  @media (prefers-reduced-motion: no-preference) {
    transition: all 0.2s;
  }

  &:hover {
    background-color: var(--dds-color-surface-hover-default);
  }
}
