.container {
  display: flex;
  width: fit-content;
  word-break: break-word;
  max-width: 100%;
}

.container--error {
  padding: var(--dds-spacing-x0-25) var(--dds-spacing-x0-5);
  background-color: var(--dds-color-surface-danger-default);
  gap: var(--dds-spacing-x0-25);

  .icon {
    color: var(--dds-color-icon-on-danger-default);
  }
}

.container--tip {
  background-color: var(--dds-color-surface-default);
}

.icon {
  margin-top: var(--dds-spacing-x0-125);
}
