.container {
  display: flex;
  width: fit-content;
  word-break: break-word;
  max-width: 100%;
}

.container--error {
  padding: var(--sizes-dds-spacing-x-0-25) var(--sizes-dds-spacing-x-0-5);
  background-color: var(--dds-color-danger-lightest);
  gap: var(--sizes-dds-spacing-x-0-25);

  .icon {
    color: var(--dds-color-danger-dark);
  }
}

.container--tip {
  background-color: var(--dds-color-neutrals-white);
}

.icon {
  margin-top: var(--sizes-dds-spacing-x-0-125);
}
