.container {
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  border-radius: var(--dds-border-radius-chip);

  svg {
    color: var(--dds-color-tag-icon);
  }
}

.container--small {
  --dds-spacing-tag-padding-inline: var(--dds-spacing-compact-inline-sm);
  --dds-spacing-tag-padding-inline-start-accent: var(--dds-spacing-x0-25);
}

.container--medium {
  --dds-spacing-tag-padding-inline: var(--dds-spacing-compact-inline-md);
  --dds-spacing-tag-padding-inline-start-accent: var(--dds-spacing-x0-5);
}

.container--outline {
  background-color: var(--dds-color-tag-background-default);
  border-color: var(--dds-color-tag-border-outline);
}

.container--subtle {
  background-color: var(--dds-color-tag-background-default);
  border-color: var(--dds-color-tag-background-default);
}

.container--strong {
  background-color: var(--dds-color-tag-background-strong);
  border-color: var(--dds-color-tag-background-default);
  color: var(--dds-color-tag-text);

  svg {
    color: var(--dds-color-text-on-status-strong);
  }
}

.container--accent-left {
  background-color: var(--dds-color-tag-background-default);
  border-color: var(--dds-color-tag-background-default);
  border-left: var(--dds-size-tag-accent-width) solid
    var(--dds-color-tag-border-outline);
  --dds-size-tag-accent-width: var(--dds-spacing-x0-5);
  padding-inline-start: var(--dds-spacing-tag-padding-inline-start-accent);
}
