:root {
  --dds-color-text-body: var(--dds-color-text-default);
  --dds-color-text-link: var(--dds-color-text-action-resting);
  --dds-color-text-link-visited: var(--dds-color-text-action-visited);
  --dds-color-text-label: var(--dds-color-text-medium);
  --dds-color-text-placeholder: var(--dds-color-text-subtle);
  --dds-color-text-helper: var(--dds-color-text-subtle);
}

.contrast {
  --dds-color-text-body: var(--dds-color-text-on-inverse);
  --dds-color-text-link: var(--dds-color-text-on-inverse);
  --dds-color-text-link-visited: var(
    --dds-color-text-action-visited-on-inverse
  );
  --dds-color-text-label: var(--dds-color-text-on-inverse);
  --dds-color-text-helper: var(--dds-color-text-on-inverse);
  --dds-color-text-placeholder: var(--dds-color-text-subtle);
}

:where(.a) {
  font: inherit;
  color: var(--dds-color-text-link);
  width: fit-content;
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: max(4px, 0.25rem);
  margin: 0;

  &:hover {
    text-decoration-color: transparent;
  }

  @media (prefers-reduced-motion: no-preference) {
    transition:
      color 0.2s,
      text-decoration-color 0.2s,
      var(--dds-focus-transition);
  }
}

:where(.a--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-body-sans-01-paragraph-spacing);
}

:where(.a--external) {
  & > svg {
    display: inline;
    margin: 0.1em 0.1em -0.1em;
    transform: translateY(0.05em);
    vertical-align: baseline;
  }
}

:where(.a--visited) {
  &:visited {
    color: var(--dds-color-text-action-visited);
  }
}

:where(.body-sans-01) {
  margin: 0;
  font: var(--dds-font-body-sans-01);
  letter-spacing: var(--dds-font-body-sans-01-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.body-sans-01--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-body-sans-01-paragraph-spacing);
}

:where(.body-sans-02) {
  margin: 0;
  font: var(--dds-font-body-sans-02);
  letter-spacing: var(--dds-font-body-sans-02-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.body-sans-02--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-body-sans-02-paragraph-spacing);
}

:where(.body-sans-03) {
  margin: 0;
  font: var(--dds-font-body-sans-03);
  letter-spacing: var(--dds-font-body-sans-03-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.body-sans-03--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-body-sans-03-paragraph-spacing);
}

:where(.body-sans-04) {
  margin: 0;
  font: var(--dds-font-body-sans-04);
  letter-spacing: var(--dds-font-body-sans-04-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.body-sans-04--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-body-sans-04-paragraph-spacing);
}

:where(.lead-sans-01) {
  margin: 0;
  font: var(--dds-font-lead-sans-01);
  letter-spacing: var(--dds-font-lead-sans-01-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.lead-sans-01--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-lead-sans-01-paragraph-spacing);
}

:where(.lead-sans-02) {
  margin: 0;
  font: var(--dds-font-lead-sans-02);
  letter-spacing: var(--dds-font-lead-sans-02-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.lead-sans-02--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-lead-sans-02-paragraph-spacing);
}

:where(.lead-sans-03) {
  margin: 0;
  font: var(--dds-font-lead-sans-03);
  letter-spacing: var(--dds-font-lead-sans-03-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.lead-sans-03--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-lead-sans-03-paragraph-spacing);
}

:where(.lead-sans-04) {
  margin: 0;
  font: var(--dds-font-lead-sans-04);
  letter-spacing: var(--dds-font-lead-sans-04-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.lead-sans-04--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-lead-sans-04-paragraph-spacing);
}

:where(.lead-sans-05) {
  margin: 0;
  font: var(--dds-font-lead-sans-05);
  letter-spacing: var(--dds-font-lead-sans-05-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.lead-sans-05--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-lead-sans-05-paragraph-spacing);
}

:where(.heading-sans-01) {
  margin: 0;
  font: var(--dds-font-heading-sans-01);
  letter-spacing: var(--dds-font-heading-sans-01-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.heading-sans-01--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-heading-sans-01-paragraph-spacing);
  padding-top: var(--dds-spacing-padding-top-heading);
}

:where(.heading-sans-02) {
  margin: 0;
  font: var(--dds-font-heading-sans-02);
  letter-spacing: var(--dds-font-heading-sans-02-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.heading-sans-02--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-heading-sans-02-paragraph-spacing);
  padding-top: var(--dds-spacing-padding-top-heading);
}

:where(.heading-sans-03) {
  margin: 0;
  font: var(--dds-font-heading-sans-03);
  letter-spacing: var(--dds-font-heading-sans-03-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.heading-sans-03--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-heading-sans-03-paragraph-spacing);
  padding-top: var(--dds-spacing-padding-top-heading);
}

:where(.heading-sans-04) {
  margin: 0;
  font: var(--dds-font-heading-sans-04);
  letter-spacing: var(--dds-font-heading-sans-04-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.heading-sans-04--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-heading-sans-04-paragraph-spacing);
  padding-top: var(--dds-spacing-padding-top-heading);
}

:where(.heading-sans-05) {
  margin: 0;
  font: var(--dds-font-heading-sans-05);
  letter-spacing: var(--dds-font-heading-sans-05-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.heading-sans-05--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-heading-sans-05-paragraph-spacing);
  padding-top: var(--dds-spacing-padding-top-heading);
}

:where(.heading-sans-06) {
  margin: 0;
  font: var(--dds-font-heading-sans-06);
  letter-spacing: var(--dds-font-heading-sans-06-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.heading-sans-06--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-heading-sans-06-paragraph-spacing);
  padding-top: var(--dds-spacing-padding-top-heading);
}

:where(.heading-sans-07) {
  margin: 0;
  font: var(--dds-font-heading-sans-07);
  letter-spacing: var(--dds-font-heading-sans-07-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.heading-sans-07--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-heading-sans-07-paragraph-spacing);
  padding-top: var(--dds-spacing-padding-top-heading);
}

:where(.heading-sans-08) {
  margin: 0;
  font: var(--dds-font-heading-sans-08);
  letter-spacing: var(--dds-font-heading-sans-08-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.heading-sans-08--margins) {
  display: block;
  margin-top: 0;
  margin-bottom: var(--dds-font-heading-sans-08-paragraph-spacing);
  padding-top: var(--dds-spacing-padding-top-heading);
}

:where(.supporting-style-label-01) {
  margin: 0;
  font: var(--dds-font-supporting-style-label-01);
  letter-spacing: var(--dds-font-supporting-style-label-01-letter-spacing);
  color: var(--dds-color-text-label);
}

:where(.supporting-style-label-01--margins) {
  display: block;
  margin-top: var(--dds-font-supporting-style-label-01-paragraph-spacing);
  margin-bottom: var(--dds-font-supporting-style-label-01-paragraph-spacing);
}

:where(.supporting-style-helper-text-01) {
  margin: 0;
  font: var(--dds-font-supporting-style-helpertext-01);
  letter-spacing: var(--dds-font-supporting-style-helpertext-01-letter-spacing);
  color: var(--dds-color-text-helper);
}

:where(.supporting-style-helper-text-01--margins) {
  display: block;
  margin-top: var(--dds-font-supporting-style-helpertext-01-paragraph-spacing);
  margin-bottom: var(
    --dds-font-supporting-style-helpertext-01-paragraph-spacing
  );
}

:where(.supporting-style-placeholder-text-01) {
  margin: 0;
  font: var(--dds-font-supporting-style-placeholdertext-01);
  letter-spacing: var(
    --dds-font-supporting-style-placeholdertext-01-letter-spacing
  );
  color: var(--dds-color-text-placeholder);
}

:where(.supporting-style-placeholder-text-01--margins) {
  display: block;
  margin-top: var(
    --dds-font-supporting-style-placeholdertext-01-paragraph-spacing
  );
  margin-bottom: var(
    --dds-font-supporting-style-placeholdertext-01-paragraph-spacing
  );
}

:where(.supporting-style-placeholder-text-02) {
  margin: 0;
  font: var(--dds-font-supporting-style-placeholdertext-02);
  letter-spacing: var(
    --dds-font-supporting-style-placeholdertext-02-letter-spacing
  );
  color: var(--dds-color-text-placeholder);
}

:where(.supporting-style-placeholder-text-02--margins) {
  display: block;
  margin-top: var(
    --dds-font-supporting-style-placeholdertext-02-paragraph-spacing
  );
  margin-bottom: var(
    --dds-font-supporting-style-placeholdertext-02-paragraph-spacing
  );
}

:where(.supporting-style-placeholder-text-03) {
  margin: 0;
  font: var(--dds-font-supporting-style-placeholdertext-03);
  letter-spacing: var(
    --dds-font-supporting-style-placeholdertext-03-letter-spacing
  );
  color: var(--dds-color-text-placeholder);
}

:where(.supporting-style-placeholder-text-03--margins) {
  display: block;
  margin-top: var(
    --dds-font-supporting-style-placeholdertext-03-paragraph-spacing
  );
  margin-bottom: var(
    --dds-font-supporting-style-placeholdertext-03-paragraph-spacing
  );
}

:where(.supporting-style-tiny-01) {
  margin: 0;
  font: var(--dds-font-supporting-style-tiny-01);
  letter-spacing: var(--dds-font-supporting-style-tiny-01-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.supporting-style-tiny-01--margins) {
  display: block;
  margin-top: var(--dds-font-supporting-style-tiny-01-paragraph-spacing);
  margin-bottom: var(--dds-font-supporting-style-tiny-01-paragraph-spacing);
}

:where(.supporting-style-tiny-02) {
  margin: 0;
  font: var(--dds-font-supporting-style-tiny-02);
  letter-spacing: var(--dds-font-supporting-style-tiny-02-letter-spacing);
  color: var(--dds-color-text-body);
}

:where(.supporting-style-tiny-02--margins) {
  display: block;
  margin-top: var(--dds-font-supporting-style-tiny-02-paragraph-spacing);
  margin-bottom: var(--dds-font-supporting-style-tiny-02-paragraph-spacing);
}

:where(.legend) {
  padding-inline: 0;
}

:where(.legend--margins) {
  margin-bottom: var(--dds-spacing-x1-5);
}

:where(.caption--withMargins) {
  display: table-caption;
}

:where(.bold) {
  font-weight: 600;
}

:where(.italic) {
  font-style: italic;
}

:where(.underline) {
  text-decoration: underline;
}

:where(.a) {
  color: var(--dds-color-text-link);
}

.text-color--default {
  color: var(--dds-color-text-default);
}

.text-color--medium {
  color: var(--dds-color-text-medium);
}

.text-color--subtle {
  color: var(--dds-color-text-subtle);
}

.text-color--on-inverse {
  color: var(--dds-color-text-on-inverse);
}
