.list {
  color: var(--dds-color-text-body);
  margin: var(--dds-spacing-x1) 0;
  ul,
  ol {
    margin: 0;
  }
}

.list--inherit {
  font: inherit;
}

.list--unordered {
  --dds-list-ul-li-padding-left: 1em + var(--dds-spacing-x0-25);
  list-style: none;
  padding-left: calc(
    var(--dds-spacing-x2) - (var(--dds-list-ul-li-padding-left))
  );
  --dds-list-bullet-size: 1em;

  li {
    position: relative;

    padding-left: calc(var(--dds-list-ul-li-padding-left));

    &:before {
      content: '';
      display: inline-block;
      height: var(--dds-list-bullet-size);
      width: var(--dds-list-bullet-size);
      position: absolute;
      top: calc(
        (var(--dds-font-lineheight-list) * 1em) / 2 -
          var(--dds-list-bullet-size) / 2
      );
      left: 0;
      background: var(--dds-color-text-body);
      mask-size: 100%;
      mask-repeat: no-repeat;
      mask-image: url('./bullets/jordskifterett_bullet1.svg');
    }
    ul > li:before {
      mask-image: url('./bullets/lagmannsrett_bullet2.svg');
    }
    ul > li > ul > li:before {
      mask-image: url('./bullets/tingrett_bullet3.svg');
    }
  }
}

.list--ordered {
  padding-left: var(--dds-spacing-x2);
  & > li > ol {
    list-style-type: lower-alpha;
  }
  & > li > ol > li > ol {
    list-style-type: lower-roman;
  }
}

.li {
  line-height: var(--dds-font-lineheight-list);
}
