.select {
  appearance: none;
  text-overflow: ellipsis;
  font: inherit;
  width: 100%;

  &:hover:not(:disabled):not(.select--readonly) {
    border-color: var(--dds-color-border-action-hover);
    box-shadow: 0 0 0 1px var(--dds-color-border-action-hover);

    & + svg {
      color: var(--dds-color-icon-action-hover);
    }
  }
  &:disabled {
    cursor: not-allowed;
    color: var(--dds-color-text-subtle);
    background-color: var(--dds-color-surface-field-disabled);
    border-color: var(--dds-color-border-subtle);

    + svg {
      color: var(--dds-color-icon-subtle);
    }
  }
  option {
    background-color: var(--dds-color-surface-default);
    &:hover {
      background-color: var(--dds-color-surface-hover-default);
    }
    @media (prefers-reduced-motion: no-preference) {
      transition: background-color var(--dds-motion-micro-state);
    }
  }
  optgroup {
    font-weight: normal;
    font-style: normal;
  }
}

.select--readonly {
  box-shadow: none;
  outline: none;
  cursor: default;
  color: var(--dds-color-text-subtle);
  background-color: var(--dds-color-surface-field-disabled);

  + svg {
    color: var(--dds-color-icon-subtle);
  }
}

.select--xsmall {
  padding-right: calc(
    var(--dds-spacing-x0-25) + var(--dds-size-icon-component)
  );
}

.select--small {
  padding-right: calc(var(--dds-spacing-x0-5) + var(--dds-size-icon-component));
}

.select--medium {
  padding-right: calc(
    var(--dds-spacing-x0-75) + var(--dds-size-icon-component)
  );
}

.select--multiple {
  padding-right: 0;

  &.select--readonly option {
    background-color: var(--dds-color-surface-field-disabled);
  }
}

.select--with-clear-button-medium {
  padding-right: calc(
    var(--dds-spacing-x0-75) + 2 * var(--dds-size-icon-component)
  );
}

.select--with-clear-button-small {
  padding-right: calc(
    var(--dds-spacing-x0-5) + 2 * var(--dds-size-icon-component)
  );
}

.select--with-clear-button-xsmall {
  padding-right: calc(
    var(--dds-spacing-x0-25) + 2 * var(--dds-size-icon-component)
  );
}

.icon {
  align-self: center;
  pointer-events: none;
}

.clear-button--xsmall {
  right: calc(var(--dds-spacing-x0-25) + var(--dds-size-icon-component));
}

.clear-button--small {
  right: calc(var(--dds-spacing-x0-5) + var(--dds-size-icon-component));
}

.clear-button--medium {
  right: calc(var(--dds-spacing-x0-75) + var(--dds-size-icon-component));
}
