.select {
  appearance: none;
  text-overflow: ellipsis;
  width: 100%;

  &:hover:not(:disabled):not(.select--readonly) {
    border-color: var(--dds-color-border-action-hover);
    box-shadow: 0 0 0 1px var(--dds-color-border-action-hover);

    & + svg {
      color: var(--dds-color-icon-action-hover);
    }
  }
  &:disabled {
    cursor: not-allowed;
    color: var(--dds-color-text-subtle);
    background-color: var(--dds-color-surface-field-disabled);
    border-color: var(--dds-color-border-subtle);

    + svg {
      color: var(--dds-color-icon-subtle);
    }
  }
  option {
    background-color: var(--dds-color-surface-default);
    &:hover {
      background-color: var(--dds-color-surface-hover-default);
    }
    @media (prefers-reduced-motion: no-preference) {
      transition: background-color 0.2s;
    }
  }
  optgroup {
    font-weight: normal;
    font-style: normal;
  }
}

.select--readonly {
  box-shadow: none;
  outline: none;
  cursor: default;
  color: var(--dds-color-text-subtle);
  background-color: var(--dds-color-surface-field-disabled);

  + svg {
    color: var(--dds-color-icon-subtle);
  }
}

.select--medium {
  padding-right: var(--dds-spacing-x2);
}

.select--small {
  padding-right: var(--dds-spacing-x2);
}

.select--xsmall {
  padding-right: var(--dds-spacing-x1-5);
}

.select--multiple {
  padding-right: 0;

  &.select--readonly option {
    background-color: var(--dds-color-surface-field-disabled);
  }
}

.icon {
  position: absolute;
  top: 50%;
  transform: translate(-150%, -50%);
  align-self: center;
  pointer-events: none;
}
