.container {
  box-sizing: border-box;
  z-index: var(--dds-zindex-overflowmenu);
  overflow-y: auto;
  min-width: 180px;
  max-width: 300px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list__item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  color: var(--dds-color-text-default);
  background-color: var(--dds-color-surface-default);
  text-decoration: none;
  padding: var(--dds-spacing-x0-75);
  gap: var(--dds-spacing-x0-25);
}

.list__item--link {
  text-align: left;
  user-select: text;
  border: none;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.2s;
  }

  &:hover,
  &:active {
    background-color: var(--dds-color-surface-hover-default);
  }
}

.icon {
  display: flex;
  align-items: center;
  /*TODO: bytte til icon size token for button når den er på plass*/
  font-size: calc(var(--dds-font-lineheight-x1) * 1em);
}

.divider {
  margin-inline: var(--dds-spacing-x0-5);
  margin-block: var(--dds-spacing-x0);
}

.group-header {
  padding-inline: var(--dds-spacing-x0-75);
  padding-block-start: var(--dds-spacing-x0-75);
}
