.container--medium {
}

.container--tiny {
  width: 210px;
}

.affix-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-width {
  width: var(--dds-textinput-width);
}

.input {
  &.with-icon--medium {
    padding-left: calc(
      var(--dds-spacing-x0-75) + var(--dds-icon-size-medium) +
        var(--dds-spacing-x0-5)
    );
  }
  &.with-icon--small {
    padding-left: calc(
      var(--dds-spacing-x0-75) + var(--dds-icon-size-small) +
        var(--dds-spacing-x0-5)
    );
  }
  &.with-icon--tiny {
    padding-left: calc(
      var(--dds-spacing-x0-5) + var(--dds-icon-size-medium) +
        var(--dds-spacing-x0-25)
    );
  }
}

.icon {
  position: absolute;
  z-index: 1;
  color: var(--dds-color-icon-default);
}

.icon--medium {
  left: var(--dds-spacing-x0-75);
  top: calc(50% - (var(--dds-icon-size-medium) / 2));
}

.icon--small {
  left: var(--dds-spacing-x0-75);
  top: calc(50% - (var(--dds-icon-size-medium) / 2));
}

.icon--tiny {
  left: var(--dds-spacing-x0-5);
  top: calc(50% - (var(--dds-icon-size-small) / 2));
}

.label {
  display: block;
}

.affix {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 1;

  &.prefix {
    left: 0;
    margin-left: 8px;
    padding-right: 8px;
    border-right: 1px solid var(--dds-color-border-default);
  }

  &.suffix {
    right: 0;
    margin-right: 8px;
    padding-left: 8px;
    border-left: 1px solid var(--dds-color-border-default);
  }

  &.prefix--readonly {
    margin-left: 0;
    padding-right: 0.5ch;
    border-right: none;
  }

  &.suffix--readonly {
    margin-right: 0;
    padding-left: 0.5ch;
    border-left: none;
  }
}

.message-container {
  display: flex;
  justify-content: space-between;
  gap: var(--dds-spacing-x0-5);
}

.char-counter {
  margin-left: auto;
}
