:where(.container) {
  box-sizing: border-box;
  background-color: var(--dds-color-surface-default);
  border-radius: var(--dds-border-radius-surface);
  margin: 0;
}

:where(.shadow--1) {
  box-shadow: var(--dds-shadow-1);
}
:where(.shadow--2) {
  box-shadow: var(--dds-shadow-2);
}
:where(.shadow--3) {
  box-shadow: var(--dds-shadow-3);
}
:where(.shadow--4) {
  box-shadow: var(--dds-shadow-4);
}

:where(.border--default) {
  border: 1px solid var(--dds-color-border-default);
}

:where(.border--subtle) {
  border: 1px solid var(--dds-color-border-subtle);
}

:where(.border--on-inverse) {
  border: 1px solid var(--dds-color-border-inverse);
}
