.container {
  width: fit-content;
}

.svg-arrow__border {
  fill: var(--dds-color-border-subtle);
}

.svg-arrow__background {
  fill: var(--dds-color-surface-default);
}

.paper {
  width: fit-content;
  position: absolute;
  z-index: var(--dds-zindex-tooltip);
  text-align: center;
  padding: var(--dds-spacing-x0-75);
}
