.container {
  margin: 0;
  position: relative;
  width: var(--dds-input-default-width);
}

.container--disabled {
  cursor: not-allowed;
}

.inner-single-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 100%;
}

.icon {
  margin-right: var(--dds-spacing-x0-5);
  /* Ikon har samme plassering som i TextInput */
  margin-left: -1px;
}

.control {
  &:hover .dropdown-indicator,
  &:focus-within .dropdown-indicator {
    color: var(--dds-color-icon-action-hover);
  }

  &.control--readonly .dropdown-indicator {
    color: transparent;
  }
  &.control--disabled .dropdown-indicator {
    color: transparent;
  }
}
