.container {
  position: relative;
}

.input-group {
  position: relative;
}

:where(.input) {
  position: relative;
  color: var(--dds-color-text-default);
  border: 1px solid var(--dds-color-border-default);
  background-color: var(--dds-color-surface-default);
  padding: var(--dds-spacing-x0-75) var(--dds-spacing-x1)
    var(--dds-spacing-x0-75) var(--dds-spacing-x0-75);
  border-radius: var(--dds-border-radius-input);
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
  @media (prefers-reduced-motion: no-preference) {
    transition:
      box-shadow 0.2s,
      border-color 0.2s,
      background-color 0.2s,
      var(--dds-focus-transition);
  }
  &[type='text'],
  &[type='password'],
  &[type='number'],
  &[type='tel'],
  &[type='date'],
  &[type='url'],
  &[type='email'],
  &[type='search'],
  &[type='datetime-local'] {
    -webkit-appearance: none;
  }

  &:hover:enabled:read-write:not(:focus-visible):not(.disabled):not(
      .read-only
    ) {
    border-color: var(--dds-color-border-action-hover);
    box-shadow: 0 0 0 1px var(--dds-color-border-action-hover);
  }
}

:where(.input--stateful) {
  -webkit-appearance: textfield;

  &:not(.disabled).read-only,
  &:enabled:read-only {
    box-shadow: none;
    border: 1px solid var(--dds-color-border-default);
    background-color: var(--dds-color-surface-field-disabled);
    color: var(--dds-color-text-medium);
    cursor: default;
  }

  &.disabled,
  &:disabled {
    box-shadow: none;
    border: 1px solid var(--dds-color-border-subtle);
    background-color: var(--dds-color-surface-field-disabled);
    color: var(--dds-color-text-subtle);
    cursor: not-allowed;
  }
}

:where(.input--hover:hover) {
  border-color: var(--dds-color-border-action-hover);
  box-shadow: 0 0 0 1px var(--dds-color-border-action-hover);
}

:where(.input--stateful-danger) {
  border-color: var(--dds-color-border-danger);
  box-shadow: 0 0 0 1px var(--dds-color-border-danger);

  &:not(.disabled):hover:not(:focus-within),
  &:hover:enabled:read-write:not(:focus-within) {
    border-color: var(--dds-color-border-danger);
    box-shadow: 0 0 0 1px var(--dds-color-border-danger);
  }

  &:not(.disabled):focus-within,
  &:focus-within:enabled:read-write,
  &:hover:focus-within:enabled:read-write,
  &:active:enabled:read-write {
    border-color: 1px solid var(--dds-color-border-default);
  }
}

:where(.input--medium) {
  padding: var(--dds-spacing-x0-75);
}

:where(.input--small) {
  padding: var(--dds-spacing-x0-5) var(--dds-spacing-x0-75);
}

:where(.input--xsmall) {
  padding: var(--dds-spacing-x0-25) var(--dds-spacing-x0-5);
}

:where(.input--with-affix) {
  gap: var(--dds-spacing-x1);
}

:where(.label) {
  display: block;
}

:where(.input-group__absolute-element) {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: var(--dds-zindex-absolute-element);
  color: var(--dds-color-icon-default);
}
