.container {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  gap: var(--dds-spacing-x0-25);
  padding: var(--dds-spacing-x0-125) var(--dds-spacing-x0-25)
    var(--dds-spacing-x0-125) var(--dds-spacing-x0-5);
  border: 1px solid var(--dds-color-border-subtle);
  border-radius: var(--dds-border-radius-chip);
  background-color: var(--dds-color-surface-subtle);
}
