.group-container {
  display: flex;
  flex-direction: column;
  gap: var(--sizes-dds-spacing-x-0-5);
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sizes-dds-spacing-x-0-75);
}

.group--row {
  flex-direction: row;
}

.group--column {
  flex-direction: column;
}

.container {
  width: fit-content;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  width: fit-content;
  border: 1px solid;
  border-radius: 100px;
  gap: var(--sizes-dds-spacing-x-0-5);
  /* må sjekkes */
  padding: var(--sizes-dds-spacing-x-0-5) var(--sizes-dds-spacing-x-1);
  background-color: var(--dds-color-neutrals-white);
  color: var(--dds-color-neutrals-gray-7);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      border-color 0.2s,
      background-color 0.2s,
      box-shadow 0.2s,
      outline-offset 0.2s;
  }

  &:hover {
    border-color: var(--dds-color-interactive-base);
    box-shadow: inset 0 0 0 1px var(--dds-color-interactive-base);
    background-color: var(--dds-color-interactive-lightest);
  }
}

input:checked + .content {
  color: var(--dds-color-neutrals-white);
  background-color: var(--dds-color-interactive-base);
  border-color: var(--dds-color-interactive-base);
}

input:checked + .content:hover {
  background-color: var(--dds-color-interactive-dark);
  border-color: var(--dds-color-interactive-dark);
  box-shadow: inset 0 0 0 1px var(--dds-color-interactive-dark);
}
