.input-container {
  display: flex;
}
.textInput {
  text-align: center;
  border-radius: 0;
}
.stepButton {
  &:focus-visible {
    z-index: 1;
  }
}
.stepButton--plus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.stepButton--minus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
