.containter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.input-container {
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: 1px solid var(--dds-color-border-default);
  background: var(--dds-color-surface-field-default);
  &.error {
    border: 2px solid var(--dds-color-border-danger);
  }
}
.textInput {
  flex: 1 0 0;
  color: var(--dds-color-text-default);
  text-align: center;
  border-left: 1px solid var(--dds-color-border-default);
  border-right: 1px solid var(--dds-color-border-default);
  border-top: none;
  border-bottom: none;
  border-radius: 0;

  &:focus {
    border: none;
  }
  &.error {
    box-shadow: none;
  }
  &.medium {
    width: 84px;
    height: 48px;
    font-size: var(--dds-font-size-xsmall);
    line-height: 150%;
  }
  &.small {
    width: 106px;
    height: 37px;
    font-size: var(--dds-font-size-xxsmall);
    line-height: 150%;
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.stepButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--dds-border-radius-button);
  &.medium {
    width: 48px;
    height: 48px;
  }
  &.small {
    width: 37px;
    height: 37px;
  }
}
