@import '@norges-domstoler/dds-design-tokens/dist/css/ddsTokens-core-light.css';
@import '@norges-domstoler/dds-design-tokens/dist/css/ddsTokens-core-dark.css';
@import '@norges-domstoler/dds-design-tokens/dist/css/ddsTokens-public-light.css';
@import '@norges-domstoler/dds-design-tokens/dist/css/ddsTokens-public-dark.css';
