.container {
  box-sizing: border-box;
  background-color: var(--dds-color-surface-default);
  border-radius: var(--dds-border-radius-1);
  margin: 0;
}

.shadow--1 {
  box-shadow: var(--dds-shadow-1);
}
.shadow--2 {
  box-shadow: var(--dds-shadow-2);
}
.shadow--3 {
  box-shadow: var(--dds-shadow-3);
}
.shadow--4 {
  box-shadow: var(--dds-shadow-4);
}

.border--default {
  border: 1px solid var(--dds-color-border-default);
}

.border--subtle {
  border: 1px solid var(--dds-color-border-subtle);
}

.border--on-inverse {
  border: 1px solid var(--dds-color-border-inverse);
}
