.date-input {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--dds-spacing-x0-25);
  width: var(--dds-date-input-width);
}

.date-input--medium {
  padding-inline-start: var(--dds-spacing-x0-5);
  padding-inline-end: var(--dds-spacing-x1);
}

.date-input--small {
  padding-inline-start: var(--dds-spacing-x0-5);
  padding-inline-end: var(--dds-spacing-x0-75);
}

.date-input--tiny {
  padding-inline-start: var(--dds-spacing-x0-25);
  padding-inline-end: var(--dds-spacing-x0-5);
}

.date-segment-container {
  display: flex;
  flex-direction: row;
}

.segment {
  padding: 0 0.05rem;
  display: block;
  width: max-content;
  font-variant-numeric: tabular-nums;
  outline: none;

  &:focus {
    background-color: var(--dds-color-surface-action-selected);
    color: var(--dds-color-text-on-action);
  }
}

.segment__placeholder {
  display: block;
  width: 100%;
  font-variant-numeric: tabular-nums;
  pointer-events: none;
  .segment:focus & {
    color: var(--dds-color-text-on-action);
  }
}

.segment__placeholder--invisible {
  visibility: hidden;
  height: 0;
  width: 0;
}

/**------------------------------------------------------------------------
 * Ikon-wrapper ved siden av input
 * Gjelder både dato og tid
 *------------------------------------------------------------------------*/

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--dds-spacing-x0-25);
  color: var(--dds-color-icon-default);
}

.icon-wrapper--disabled {
  color: var(--dds-color-icon-subtle);
}

.icon-wrapper--readonly {
  color: var(--dds-color-icon-medium);
}

.icon-wrapper--small {
  margin-block: calc(0px - var(--dds-icon-size-medium));
}

.icon-wrapper--medium {
  margin-block: calc(0px - var(--dds-icon-size-small));
}

/**------------------------------------------------------------------------
 * Klasser relaterte til kalender-popover
 *------------------------------------------------------------------------*/

.popover-button {
  cursor: pointer;
  border: 0;
  transition: 0.2s;
  background: transparent;
  border-radius: var(--dds-border-radius-button);
  color: var(--dds-color-icon-default);

  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):active {
    background-color: var(--dds-color-surface-hover-default);
    color: var(--dds-color-icon-action-hover);
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    outline: none;
    color: var(--dds-color-text-subtle);
  }
}

.popover-button--readonly:disabled {
  color: var(--dds-color-text-medium);
}

.popover {
  z-index: 100;
  border-radius: var(--dds-border-radius-surface);
  background-color: var(--dds-color-surface-default);
  border: 1px solid var(--dds-color-border-default);
  padding: var(--dds-spacing-x0-5);
  box-shadow: var(--dds-shadow-2);
  height: 347px;
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__header__month {
  text-transform: capitalize;
}

.calendar__month-button {
  user-select: none;
}

.calendar__week-number {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__cell-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid;
  border-color: transparent;
  border-radius: var(--dds-border-radius-button);
  transition: 0.2s;
}

.calendar__cell-button--today {
  text-decoration: underline;
  border-color: var(--dds-color-border-default);
}

.calendar__cell-button--default {
  background-color: transparent;
  color: var(--dds-color-text-default);
  &:hover {
    background-color: var(--dds-color-surface-hover-default);
    border-color: var(--dds-color-border-action-hover);
    color: var(--dds-color-text-default);
  }
}

.calendar__cell-button--selected {
  background-color: var(--dds-color-surface-action-selected);
  border-color: var(--dds-color-surface-action-selected);
  color: var(--dds-color-text-on-action);
}

.calendar__cell-button--unavailable {
  background-color: var(--dds-color-surface-field-disabled);
  border-color: var(--dds-color-surface-field-disabled);
  color: var(--dds-color-text-subtle);
  cursor: not-allowed;
  text-decoration: line-through;
}

.calendar__cell-button--unavailable--today {
  border-color: var(--dds-color-surface-field-disabled);
  text-decoration: underline line-through;
}
