.list {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 0;
  column-gap: var(--sizes-dds-spacing-x-2);

  & > dt:first-of-type {
    margin-top: var(--sizes-dds-spacing-x-1);
  }
  & > dd:last-child {
    margin-bottom: var(--sizes-dds-spacing-x-1);
  }
  dd + dt {
    margin-top: var(--sizes-dds-spacing-x-2);
  }
}

.list--default {
  dt {
    color: var(--dds-color-neutrals-gray-9);
    font-weight: 600;
  }
}

.list--subtle {
  dt {
    color: var(--dds-color-neutrals-gray-7);
  }
}

.list--row {
  &:not(:has(> dt):has(> dd)) {
    flex-direction: row;
  }
}

.list--column {
  &:not(:has(> dt):has(> dd)) {
    flex-direction: column;
  }
}

.desc {
  margin-inline-start: 0;
  align-items: center;
  display: flex;
  gap: var(--sizes-dds-spacing-x-0-25);
  color: var(--dds-color-neutrals-gray-9);
}

.group {
  margin: var(--sizes-dds-spacing-x-2);
}
