.container {
  display: flex;
  width: fit-content;
  word-break: break-word;
  max-width: 100%;
}

.container--error {
  padding: var(--dds-spacing-x0-25) var(--dds-spacing-x0-5);
  background-color: var(--dds-color-surface-danger-default);
  border-bottom-left-radius: var(--dds-border-radius-surface);
  border-bottom-right-radius: var(--dds-border-radius-surface);
  gap: var(--dds-spacing-x0-25);

  .icon {
    color: var(--dds-color-icon-on-danger-default);
  }
}

/* Plasserer ikonet sentrert i forhold til første linja av teksten.
*  Trekker fra 1px slik at det ser ut som i Figma; CSS håndterer linjehøyde annerledes.
*/
.icon {
  margin-top: calc(
    (var(--dds-font-lineheight-x1) * 1em - var(--dds-icon-size-small)) / 2 - 1px
  );
}
