.container {
  border-radius: inherit;
}

.header-button {
  @media (prefers-reduced-motion: no-preference) {
    transition:
      box-shadow 0.2s,
      var(--dds-focus-transition);
  }

  &:hover {
    box-shadow: 0 0 0 2px var(--dds-color-border-action-hover);
  }
}

.header-container {
  padding: var(--dds-card-accordion-header-container-padding);

  @media (prefers-reduced-motion: no-preference) {
    transition: box-shadow 0.2s;
  }
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container__chevron {
  margin-left: var(--dds-spacing-x0-5);
}
