.list {
  display: table;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.list--with-dividers {
  .row {
    border-bottom: 1px solid var(--dds-color-border-default);
  }
}

.list--striped {
  .row {
    &:nth-of-type(4n-1),
    &:nth-of-type(4n) {
      background-color: var(--dds-color-surface-default);
    }

    &:nth-of-type(4n-3),
    &:nth-of-type(4n-2) {
      background-color: var(--dds-color-surface-subtle);
    }
  }
}

.list--small {
  font: var(--dds-font-body-small);
  letter-spacing: var(--dds-font-body-small-letter-spacing);
  .cell {
    padding: var(--dds-spacing-x0-5);
  }
}

.list--medium {
  font: var(--dds-font-body-medium);
  letter-spacing: var(--dds-font-body-medium-letter-spacing);
  .cell {
    padding: var(--dds-spacing-x0-75);
  }
}

.list--large {
  font: var(--dds-font-body-medium);
  letter-spacing: var(--dds-font-body-medium-letter-spacing);
  .cell {
    padding-block: var(--dds-spacing-x1-5);
    padding-inline: var(--dds-spacing-x0-75);
  }
}

.column {
  dt,
  dd {
    margin-inline-start: 0;
    text-align: left;
  }
}

.cell {
  display: table-cell;
}

.term {
  font-weight: var(--dds-font-weight-bold);
}
