.inline-input {
  width: 100%;
  padding: var(--dds-spacing-x0-25);
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  border-radius: var(--dds-border-radius-input);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background-color 0.2s,
      border-color 0.2s,
      var(--dds-focus-transition);
  }

  &:focus {
    background-color: var(--dds-color-surface-default);
  }
}

.inline-select {
  appearance: none;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: var(--dds-spacing-x1-5);
  cursor: pointer;
}

.inline-select--with-clear-button {
  padding-right: var(--dds-spacing-x3);
}

.inline-input:hover:enabled:read-write:not(:focus),
.inline-select:hover:enabled:not(:focus) {
  border-color: transparent;
  box-shadow: none;
  background-color: var(--dds-color-surface-hover-default);
}

.inline-input--danger {
  border-color: var(--dds-color-border-danger);
  box-shadow: 0 0 0 1px var(--dds-color-border-danger);
}

.inline-input--with-icon {
  padding-left: var(--dds-spacing-x2);
}

.inline-textarea {
  resize: vertical;
}

.edit-icon {
  left: var(--dds-spacing-x0-5);
  pointer-events: none;
  z-index: var(--dds-zindex-absolute-element);
}

/* Sentrerer ikonet i forhold til første linjen med tekst */
.edit-icon-textarea {
  position: absolute;
  top: calc(
    ((var(--dds-font-lineheight-x1) * 1em - var(--dds-icon-size-small)) / 2) +
      var(--dds-spacing-x0-25)
  );
}

.chevron {
  right: var(--dds-spacing-x0-25);
  pointer-events: none;
}

.clear-button {
  right: calc(var(--dds-spacing-x0-75) + var(--dds-icon-size-small));
}
