.inline-input {
  width: 100%;
  padding: var(--dds-spacing-x0-25);
  border-color: transparent;
  background-color: transparent;
  border-radius: var(--dds-border-radius-input);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background-color 0.2s,
      border-color 0.2s,
      var(--dds-focus-transition);
  }

  &:hover:enabled:read-write:not(:focus) {
    border-color: transparent;
    box-shadow: none;
    background-color: var(--dds-color-surface-hover-default);
  }

  &:focus {
    background-color: var(--dds-color-surface-default);
  }
}

.inline-input--with-icon {
  padding-left: var(--dds-spacing-x2);
}

.inline-textarea {
  resize: vertical;
}

.icon-wrapper {
  position: absolute;
  top: var(--dds-spacing-x0-5);
  left: var(--dds-spacing-x0-5);
  z-index: var(--dds-zindex-absolute-element);

  &:hover {
    cursor: text;
  }
}
