.container {
  /* Justering på spacing slik at fokusmarkering osv. ikke skjules ved overflow */
  --dds-modal-content-padding: var(--dds-spacing-x0-25);
  --dds-modal-container-padding: calc(
      var(--dds-spacing-x1) - var(--dds-modal-content-padding)
    )
    calc(var(--dds-spacing-x1) - var(--dds-modal-content-padding))
    calc(var(--dds-spacing-x1-5) - var(--dds-modal-content-padding))
    calc(var(--dds-spacing-x1-5) - var(--dds-modal-content-padding));

  padding: var(--dds-modal-container-padding);
}

.container-scrollable {
  max-height: calc(100vh - var(--dds-spacing-x1));
  overflow: auto;
}

.content {
  padding-right: calc(var(--dds-spacing-x1) - var(--dds-modal-content-padding));
}

/* Spacing slik at fokusmarkering osv. ikke skjules ved overflow */
.body {
  padding: var(--dds-modal-content-padding);
}

.header {
  padding: var(--dds-modal-content-padding);
}

.close-button {
  align-self: flex-end;
}
