.container {
  /* Justering på spacing slik at fokusmarkering osv. ikke skjules ved overflow */
  --dds-modal-content-padding: var(--dds-spacing-x0-25);
  --dds-modal-container-padding: calc(
      var(--dds-spacing-x1) - var(--dds-modal-content-padding)
    )
    calc(var(--dds-spacing-x1) - var(--dds-modal-content-padding))
    calc(var(--dds-spacing-x1-5) - var(--dds-modal-content-padding))
    calc(var(--dds-spacing-x1-5) - var(--dds-modal-content-padding));
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: var(--dds-modal-container-padding);
  padding-top: 0;
}

.container-scrollable {
  max-height: calc(100vh - var(--dds-spacing-x1));
  overflow: auto;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dds-spacing-x1);
  padding-bottom: var(--dds-spacing-x0-75);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dds-color-surface-default);
  z-index: 1;
}

.close-button {
  margin-left: auto;
  margin-top: calc(-1 * var(--dds-spacing-x0-125));
}

.content {
  display: grid;
  padding-right: calc(var(--dds-spacing-x1) - var(--dds-modal-content-padding));
  gap: var(--dds-spacing-x1);
}

/* Spacing slik at fokusmarkering osv. ikke skjules ved overflow */
.body {
  padding: var(--dds-modal-content-padding);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--dds-spacing-x1);
}
