.backdrop {
  background-color: var(--dds-color-surface-backdrop-default);

  @media (prefers-reduced-motion: no-preference) {
    transition: opacity var(--dds-motion-surface);
  }
}

.backdrop--visible {
  opacity: 1;
}

.backdrop--hidden {
  opacity: 0;
}
