:where(.border-radius--button) {
  border-radius: var(--dds-border-radius-button);
}

:where(.border-radius--surface) {
  border-radius: var(--dds-border-radius-surface);
}

:where(.border-radius--chip) {
  border-radius: var(--dds-border-radius-chip);
}

:where(.border-radius--input) {
  border-radius: var(--dds-border-radius-input);
}

:where(.border-radius--rounded) {
  border-radius: var(--dds-border-radius-rounded);
}

:where(.border-radius--0) {
  border-radius: 0;
}
