.checkbox-label {
  padding: 0 0 0 calc(18px + var(--dds-spacing-x0-5));
  align-items: flex-start;
  /* Plasserer ikonet sentrert i forhold til første linja av teksten.
  *  Trekker fra 1px slik at det ser ut som i Figma; CSS håndterer linjehøyde annerledes.
  */
  & > span {
    top: calc(
      (var(--dds-font-lineheight-x1) * 1em - var(--dds-icon-size-small)) / 2 -
        1px
    );
  }
}
