.container {
  --dds-transition-duration-drawer-move: 0.2s;
  /* Justering på spacing slik at fokusmarkering osv. ikke skjules ved overflow */
  --dds-drawer-content-container-padding: var(--dds-spacing-x0-25);
  --dds-drawer-container-padding: calc(
      var(--dds-spacing-x1) - var(--dds-drawer-content-container-padding)
    )
    calc(var(--dds-spacing-x1) - var(--dds-drawer-content-container-padding))
    calc(var(--dds-spacing-x1) - var(--dds-drawer-content-container-padding))
    calc(var(--dds-spacing-x1-5) - var(--dds-drawer-content-container-padding));

  z-index: var(--dds-zindex-drawer);

  @media (prefers-reduced-motion: no-preference) {
    transition: transform var(--dds-transition-duration-drawer-move);
  }
}

.container--left {
  left: 0;
}

.container--left-opened {
  transform: translate(0px);
}

.container--left-closed {
  transform: translate(-100%);
}

.container--right {
  right: 0;
}

.container--right-opened {
  transform: translate(0px);
}

.container--right-closed {
  transform: translate(100%);
}

.content-container {
  /* Spacing slik at fokusmarkering osv. ikke skjules ved overflow */
  padding: var(--dds-drawer-content-container-padding);
}

.drawer-header {
  display: flex;
  align-items: flex-start;
  padding-left: var(--dds-drawer-content-container-padding);
  padding-right: var(--dds-drawer-content-container-padding);
  padding-top: var(--dds-spacing-x1);
  padding-bottom: var(--dds-spacing-x0-75);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dds-color-surface-default);
  z-index: 1;
}

.button--close {
  margin-left: auto;
  margin-top: calc(-1 * var(--dds-spacing-x0-125));
}
