<link rel="icon" href="domstolenes-favicon.ico" />
<style>
  body {
    font-family: var(--dds-font-body-sans-02-font-family),
      var(--dds-font-body-serif-02-font-family), 'Trebuchet MS', sans-serif;
    color: var(--dds-color-neutrals-gray-9);
  }
  .sidebar-subheading.sidebar-subheading {
    color: var(--dds-color-neutrals-gray-9);
    font-weight: var(--dds-font-heading-sans-01-font-weight);
    font-size: var(--dds-font-heading-sans-01-font-size);
    letter-spacing: var(--dds-font-heading-sans-01-letter-spacing);
    line-height: var(--dds-font-heading-sans-01-line-height);
    text-transform: none;
  }

  .sidebar-subheading button > span:first-of-type {
    margin-top: 10px;
  }
</style>
