<style>
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  body {
    font-family: var(--dds-font-body-sans-02-font-family),
      var(--dds-font-body-serif-02-font-family), 'Trebuchet MS', sans-serif;
  }

  p code {
    background-color: var(--dds-color-neutrals-gray-1);
    border: 1px solid var(--dds-color-neutrals-gray-2);
    padding: var(--sizes-dds-spacing-local-x-0-125);
    border-radius: var(--radii-dds-border-radius-1-radius);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--dds-font-heading-sans-06-font-weight);
    letter-spacing: var(--dds-font-heading-sans-06-letter-spacing);
    line-height: var(--dds-font-heading-sans-06-line-height);
  }
</style>
