<style>
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  body {
    width: 100%;
  }

  #docs-root .sbdocs-wrapper {
    padding: 0 20px 4rem 20px;
    margin: auto;
    max-width: 850px;
  }

  body,
  .docblock-argstable,
  .docblock-argstable-head th,
  .docblock-argstable td {
    font-family: var(--dds-font-body-sans-02-font-family), 'Trebuchet MS',
      sans-serif !important;
    color: var(--dds-color-neutrals-gray-9) !important;
    font-size: var(--dds-font-body-sans-02-font-size);
    letter-spacing: var(--dds-font-body-sans-02-letter-spacing);
    line-height: var(--dds-font-body-sans-02-line-height);
  }

  .icon-code code {
    font-size: var(--dds-font-body-sans-01-font-size);
  }

  .docblock-argstable td div code,
  code span,
  pre span.token {
    font-family: monospace !important ;
  }
  .docblock-argstable td div:nth-of-type(2) span,
  .docblock-argstable tbody td:nth-of-type(3) > div:first-of-type span {
    font-family: monospace !important ;
    color: var(--dds-color-neutrals-gray-9);
  }

  .docblock-argstable tbody td:nth-of-type(2) > div:first-of-type {
    margin-bottom: var(--sizes-dds-spacing-local-x-2);
  }

  p code,
  li code {
    background-color: var(--dds-color-neutrals-gray-1);
    border: 1px solid var(--dds-color-neutrals-gray-2);
    padding: 1px;
    margin-left: var(--sizes-dds-spacing-local-x-0-125);
    margin-right: var(--sizes-dds-spacing-local-x-0-125);
    border-radius: var(--radii-dds-border-radius-1-radius);
    font-size: var(--dds-font-body-sans-01-font-size);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  .sbdocs p:not(.docs-story *) {
    font-weight: var(--dds-font-body-sans-02-font-weight);
    font-size: var(--dds-font-body-sans-02-font-size);
    letter-spacing: var(--dds-font-body-sans-02-letter-spacing);
    line-height: var(--dds-font-body-sans-02-line-height);
    margin-bottom: var(--dds-font-body-sans-02-paragraph-spacing);
    margin-top: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    .sbdocs p a:not(.docs-story *),
    .sbdocs li a:not(.docs-story *) {
      transition: 0.2s;
    }
  }

  .sbdocs p a:not(.docs-story *),
  .sbdocs li a:not(.docs-story *) {
    color: var(--dds-color-interactive-base);
    text-decoration: underline;
  }

  .sbdocs p a:hover:not(.docs-story *),
  .sbdocs li a:hover:not(.docs-story *) {
    color: var(--dds-color-interactive-dark);
  }

  .sbdocs h1:not(.docs-story *) {
    font-weight: var(--dds-font-heading-sans-06-font-weight);
    font-size: var(--dds-font-heading-sans-06-font-size);
    letter-spacing: var(--dds-font-heading-sans-06-letter-spacing);
    line-height: var(--dds-font-heading-sans-06-line-height);
    margin-bottom: var(--dds-font-heading-sans-06-paragraph-spacing);
    padding-top: var(--spacing-dds-spacing-padding-top-heading-sans-06-top);
  }

  .sbdocs h2:not(.docs-story *) {
    font-weight: var(--dds-font-heading-sans-05-font-weight);
    font-size: var(--dds-font-heading-sans-05-font-size);
    letter-spacing: var(--dds-font-heading-sans-05-letter-spacing);
    line-height: var(--dds-font-heading-sans-05-line-height);
    margin-bottom: var(--dds-font-heading-sans-05-paragraph-spacing);
    padding-top: var(--spacing-dds-spacing-padding-top-heading-sans-05-top);
  }

  .sbdocs h3:not(.docs-story *) {
    font-weight: var(--dds-font-heading-sans-04-font-weight);
    font-size: var(--dds-font-heading-sans-04-font-size);
    letter-spacing: var(--dds-font-heading-sans-04-letter-spacing);
    line-height: var(--dds-font-heading-sans-04-line-height);
    margin-bottom: var(--dds-font-heading-sans-04-paragraph-spacing);
    padding-top: var(--spacing-dds-spacing-padding-top-heading-sans-04-top);
  }

  .sbdocs h4:not(.docs-story *) {
    font-weight: var(--dds-font-heading-sans-03-font-weight);
    font-size: var(--dds-font-heading-sans-03-font-size);
    letter-spacing: var(--dds-font-heading-sans-03-letter-spacing);
    line-height: var(--dds-font-heading-sans-03-line-height);
    margin-bottom: var(--dds-font-heading-sans-03-paragraph-spacing);
    padding-top: var(--spacing-dds-spacing-padding-top-heading-sans-03-top);
  }
</style>
