.container {
  border: 1px solid;
  border-radius: var(--dds-border-radius-surface);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      box-shadow 0.2s,
      border-color 0.2s,
      var(--dds-focus-transition);
  }
}

.container--filled {
  background-color: var(--dds-color-brand-primary-subtle);
  border-color: var(--dds-color-brand-primary-subtle);
}

.container--border {
  background-color: var(--dds-color-surface-default);
  border-color: var(--dds-color-border-subtle);
}

.container--navigation,
.container--selection-control:not(.container--selection-control--disabled):not(
    .container--selection-control--readonly
  ) {
  display: block;
  &:hover {
    border-color: var(--dds-color-border-action-hover);
    box-shadow: inset 0 0 0 1px var(--dds-color-border-action-hover);
  }
}

.container--selection-control {
  padding: var(--dds-selection-control-card-padding);
  display: block;
  width: 100%;
  height: 100%;

  & > span {
    left: var(--dds-selection-control-card-control-left);
    top: var(--dds-selection-control-card-control-top);

    &:focus-visible {
      outline: none;
    }
  }

  &:has(input:checked) {
    border-color: var(--dds-color-surface-action-selected);
    box-shadow: inset 0 0 0 1px var(--dds-color-surface-action-selected);
  }
}

.container--selection-control--error {
  border-color: var(--dds-color-border-danger);
  box-shadow: 0 0 0 1px var(--dds-color-border-danger);
}

.container--selection-control--disabled {
  background-color: var(--dds-color-surface-field-disabled);
  border-color: var(--dds-color-surface-field-disabled);
}

.container--selection-control--readonly {
  background-color: var(--dds-color-surface-field-disabled);
  border-color: var(--dds-color-surface-field-disabled);
}

.container--navigation {
  text-decoration: none;
}

.container--expandable {
  width: 100%;
  box-sizing: border-box;
  & + .container--expandable {
    border-top: none;
  }
}
