.container {
  width: var(--dds-input-default-width);
}

.input-container {
  box-sizing: border-box;
  border: 2px solid;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  gap: var(--sizes-dds-spacing-x-1);
  border-color: var(--dds-color-neutrals-gray-5);
  background-color: var(--dds-color-neutrals-white);
  padding: var(--sizes-dds-spacing-x-1-5) var(--sizes-dds-spacing-x-1-5)
    var(--sizes-dds-spacing-x-1) var(--sizes-dds-spacing-x-1-5);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background-color 0.2s,
      border-color 0.2s;
  }
}

.input-container--with-errors {
  border-color: var(--dds-color-danger-base);
}

.input-container--drag-active {
  border-color: var(--dds-color-interactive-base);
  background-color: var(--dds-color-interactive-lightest);
}

.input-container--no-drag-zone {
  padding: var(--sizes-dds-spacing-x-0-5) 0;
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sizes-dds-spacing-x-0-75);
  padding: var(--sizes-dds-spacing-x-0-5) var(--sizes-dds-spacing-x-1);
  margin-top: var(--sizes-dds-spacing-x-0-5);
  background-color: var(--dds-color-neutrals-gray-1);
}

.file--invalid {
  box-shadow: inset 0 0 0 2px var(--dds-color-danger-base);
}

.file__name {
  word-break: break-all;
}
