.background {
  background: var(--dds-paper-background);
}
.border {
  border: 1px solid var(--dds-paper-border);
}

:where(.container) {
  box-sizing: border-box;
}

:where(.shadow--small) {
  box-shadow: var(--dds-shadow-small);
}
:where(.shadow--medium) {
  box-shadow: var(--dds-shadow-medium);
}
:where(.shadow--large) {
  box-shadow: var(--dds-shadow-large);
}
