.header-button {
  user-select: text;
  position: relative;
  cursor: pointer;
  display: block;
  width: 100%;

  @media (prefers-reduced-motion: no-preference) {
    transition:
      box-shadow 0.2s,
      outline-offset 0.2s;
  }

  &:hover {
    box-shadow: 0 0 0 2px var(--dds-color-interactive-base);
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--dds-card-accordion-header-container-padding);

  @media (prefers-reduced-motion: no-preference) {
    transition: box-shadow 0.2s;
  }
}

.header__content {
  text-align: left;
}

.header__chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--dds-iconsize-medium);
  width: var(--dds-iconsize-medium);
  margin-left: var(--sizes-dds-spacing-x-0-5);
}

.body {
  overflow: hidden;
  height: var(--dds-card-accordion-body-height);
}

.body__content {
  padding: var(--dds-card-accordion-body-content-padding);
  padding-top: var(--dds-card-accordion-body-content-padding-top);
}

.body--animated {
  @media (prefers-reduced-motion: no-preference) {
    transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.body--hidden {
  display: none;
}
