.container {
  width: fit-content;
}

.svg-arrow__border {
  fill: var(--dds-color-border-default);
}

.svg-arrow__background {
  fill: var(--dds-color-surface-default);
}

.paper {
  width: fit-content;
  position: absolute;
  z-index: 80;
  text-align: center;
  padding: var(--dds-spacing-x0-75);
}
