/*Grid*/

.dds-c-g {
  --dds-r-c-g: var(--dds-r-xs-c-g);
  column-gap: var(--dds-r-c-g, var(--dds-grid-column-gap));
}
.dds-r-g {
  --dds-r-c-g: var(--dds-r-xs-c-g);
  row-gap: var(--dds-r-c-g, var(--dds-grid-column-gap));
}

/*GridChild*/

.dds-grid-column {
  --dds-r-grid-column: var(--dds-r-xs-grid-column);
  grid-column: var(--dds-r-grid-column);
}

.dds-grid-row {
  --dds-r-grid-row: var(--dds-r-xs-grid-row);
  grid-row: var(--dds-r-grid-row);
}

.dds-j-self {
  --dds-r-j-self: var(--dds-r-xs-j-self);
  grid-row: var(--dds-r-j-self);
}

@media (max-width: 599px) {
  .dds-c-g {
    --dds-r-c-g: var(--dds-r-xs-c-g, var(--dds-grid-xs-gutter-size));
  }
  .dds-r-g {
    --dds-r-r-g: var(--dds-r-xs-r-g, var(--dds-grid-xs-gutter-size));
  }
  .dds-grid-column {
    --dds-r-grid-column: var(--dds-r-xs-grid-column);
  }
  .dds-grid-row {
    --dds-r-grid-row: var(--dds-r-xs-grid-row);
  }
  .dds-j-self {
    --dds-r-j-self: var(--dds-r-xs-j-self);
  }
}

@media (min-width: 600px) {
  .dds-c-g {
    --dds-r-c-g: var(--dds-r-sm-c-g, var(--dds-grid-sm-gutter-size));
  }
  .dds-r-g {
    --dds-r-r-g: var(--dds-r-sm-r-g, var(--dds-grid-sm-gutter-size));
  }
  .dds-grid-column {
    --dds-r-grid-column: var(--dds-r-sm-grid-column);
  }
  .dds-grid-row {
    --dds-r-grid-row: var(--dds-r-sm-grid-row);
  }
  .dds-j-self {
    --dds-r-j-self: var(--dds-r-sm-j-self);
  }
}

@media (min-width: 960px) {
  .dds-c-g {
    --dds-r-c-g: var(--dds-r-md-c-g, var(--dds-grid-md-gutter-size));
  }
  .dds-r-g {
    --dds-r-r-g: var(--dds-r-md-r-g, var(--dds-grid-md-gutter-size));
  }
  .dds-grid-column {
    --dds-r-grid-column: var(--dds-r-md-grid-column);
  }
  .dds-grid-row {
    --dds-r-grid-row: var(--dds-r-md-grid-row);
  }
  .dds-j-self {
    --dds-r-j-self: var(--dds-r-md-j-self);
  }
}

@media (min-width: 1280px) {
  .dds-c-g {
    --dds-r-c-g: var(--dds-r-lg-c-g, var(--dds-grid-lg-gutter-size));
  }
  .dds-r-g {
    --dds-r-r-g: var(--dds-r-lg-r-g, var(--dds-grid-lg-gutter-size));
  }
  .dds-grid-column {
    --dds-r-grid-column: var(--dds-r-lg-grid-column);
  }
  .dds-grid-row {
    --dds-r-grid-row: var(--dds-r-lg-grid-row);
  }
  .dds-j-self {
    --dds-r-j-self: var(--dds-r-lg-j-self);
  }
}

@media (min-width: 1920px) {
  .dds-c-g {
    --dds-r-c-g: var(--dds-r-xl-c-g, var(--dds-grid-xl-gutter-size));
  }
  .dds-r-g {
    --dds-r-r-g: var(--dds-r-xl-r-g, var(--dds-grid-xl-gutter-size));
  }
  .dds-grid-column {
    --dds-r-grid-column: var(--dds-r-xl-grid-column);
  }
  .dds-grid-row {
    --dds-r-grid-row: var(--dds-r-xl-grid-row);
  }
  .dds-j-self {
    --dds-r-j-self: var(--dds-r-xl-j-self);
  }
}

.grid {
  display: grid;

  @media only screen and (max-width: 599px) {
    grid-template-columns: repeat(var(--dds-grid-xs-count), minmax(0, 1fr));
  }

  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(var(--dds-grid-sm-count), minmax(0, 1fr));
  }

  @media only screen and (min-width: 960px) {
    grid-template-columns: repeat(var(--dds-grid-md-count), minmax(0, 1fr));
  }

  @media only screen and (min-width: 1280px) {
    grid-template-columns: repeat(var(--dds-grid-lg-count), minmax(0, 1fr));
  }

  @media only screen and (min-width: 1920px) {
    grid-template-columns: repeat(var(--dds-grid-xl-count), minmax(0, 1fr));
  }
}

.grid-child {
  --dds-grid-half-col-count: var(--dds-grid-xs-count);

  @media only screen and (min-width: 600px) {
    --dds-grid-half-col-count: var(--dds-grid-sm-count);
  }
  @media only screen and (min-width: 960px) {
    --dds-grid-half-col-count: var(--dds-grid-md-count);
  }
  @media only screen and (min-width: 1280px) {
    --dds-grid-half-col-count: var(--dds-grid-lg-count);
  }
  @media only screen and (min-width: 1920px) {
    --dds-grid-half-col-count: var(--dds-grid-xl-count);
  }
}

.grid-child--first-half {
  grid-column: 1 / calc(var(--dds-grid-half-col-count) / 2 + 1);
}

.grid-child--second-half {
  grid-column: calc(var(--dds-grid-half-col-count) / 2 + 1) / -1;
}
