.container {
  border-bottom: 2px solid;
  box-sizing: border-box;
}

.container--info {
  border-color: var(--dds-color-border-info);
  background-color: var(--dds-color-surface-info-default);

  .icon {
    color: var(--dds-color-icon-on-info-default);
  }
}

.container--danger {
  border-color: var(--dds-color-border-danger);
  background-color: var(--dds-color-surface-danger-default);

  .icon {
    color: var(--dds-color-icon-on-danger-default);
  }
}

.container--warning {
  border-color: var(--dds-color-border-warning);
  background-color: var(--dds-color-surface-warning-default);

  .icon {
    color: var(--dds-color-icon-on-warning-default);
  }
}

.icon {
  margin-right: var(--dds-spacing-x0-75);
}
