.container {
  color: var(--dds-color-text-default);
}

.container--readonly {
  color: var(--dds-color-text-medium);
}

.container--disabled {
  color: var(--dds-color-text-subtle);
}

.input-width {
  width: var(--dds-textinput-width);
}

.input {
  &.with-icon--medium {
    padding-left: calc(
      var(--dds-spacing-x0-75) + var(--dds-icon-size-medium) +
        var(--dds-spacing-x0-5)
    );
  }
  &.with-icon--small {
    padding-left: calc(
      var(--dds-spacing-x0-75) + var(--dds-icon-size-small) +
        var(--dds-spacing-x0-5)
    );
  }
  &.with-icon--xsmall {
    padding-left: calc(
      var(--dds-spacing-x0-5) + var(--dds-icon-size-medium) +
        var(--dds-spacing-x0-25)
    );
  }
}

.input--extended {
  width: 100%;
}

.icon--medium {
  left: var(--dds-spacing-x0-75);
}

.icon--small {
  left: var(--dds-spacing-x0-75);
}

.icon--xsmall {
  left: var(--dds-spacing-x0-5);
}

.affix {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: var(--dds-zindex-absolute-element);
}

.prefix {
  left: 0;
  margin-left: var(--dds-spacing-x0-5);
  padding-right: var(--dds-spacing-x0-5);
  border-right: 1px solid var(--dds-color-border-default);
}

.suffix {
  right: 0;
  margin-right: var(--dds-spacing-x0-5);
  padding-left: var(--dds-spacing-x0-5);
  border-left: 1px solid var(--dds-color-border-default);
}

.affix--disabled {
  border-color: var(--dds-color-border-subtle);
}
