.container {
  position: absolute;
  width: fit-content;
  z-index: 100;
  padding: var(--sizes-dds-spacing-x-0-75) var(--sizes-dds-spacing-x-1)
    var(--sizes-dds-spacing-x-1-5) var(--sizes-dds-spacing-x-1);
}

.content--closable--no-title {
  margin-top: var(--sizes-dds-spacing-x-2);
}

.title {
  margin-right: var(--sizes-dds-spacing-x-2);
}

.close-button {
  position: absolute;
  top: var(--sizes-dds-spacing-x-0-25);
  right: var(--sizes-dds-spacing-x-0-25);
}
