.containter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--dds-spacing-x10);
  height: 100%;
  width: 100%;
  background-color: var(--dds-color-surface-subtle);
  padding: var(--dds-spacing-x1-5);
}

.text {
  max-width: 70ch;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--dds-spacing-x1);
}

.message {
  color: var(--dds-text-color--subtle);
}
