.container {
  display: flex;
  gap: var(--dds-spacing-x0-75);
  justify-content: space-between;
  flex-wrap: wrap;
}

.container--small-screen-xs {
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.container--small-screen-sm {
  @media only screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }
}

.container--small-screen-md {
  @media only screen and (max-width: 1280px) {
    flex-direction: column;
    align-items: center;
  }
}

.container--small-screen-lg {
  @media only screen and (max-width: 1920px) {
    flex-direction: column;
    align-items: center;
  }
}

.container--small-screen-xl {
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav--large-screen-hide-xs {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.nav--large-screen-hide-sm {
  @media only screen and (max-width: 960px) {
    display: none;
  }
}

.nav--large-screen-hide-md {
  @media only screen and (max-width: 1280px) {
    display: none;
  }
}

.nav--large-screen-hide-lg {
  @media only screen and (max-width: 1920px) {
    display: none;
  }
}

.nav--large-screen-hide-xl {
  display: none;
}

.nav--small-screen {
  display: none;
}
.nav--small-screen-show-xs {
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.nav--small-screen-show-sm {
  @media only screen and (max-width: 960px) {
    display: block;
  }
}

.nav--small-screen-show-md {
  @media only screen and (max-width: 1280px) {
    display: block;
  }
}

.nav--small-screen-show-lg {
  @media only screen and (max-width: 1920px) {
    display: block;
  }
}

.nav--small-screen-show-xl {
  display: block;
}

.list {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
  gap: var(--dds-spacing-x0-75);
}

.list__item {
  display: inline-grid;
  align-content: center;
}

.list__item--hidden {
  visibility: hidden;
}

.indicators {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--dds-spacing-x0-75);
}

.truncation-icon {
  color: var(--dds-color-icon-medium);
  min-width: calc(1ch + (2 * var(--dds-spacing-x0-75)));
}
