.bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--dds-color-surface-default);
  border: 1px solid var(--dds-color-border-default);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      border-color 0.2s,
      background-color 0.2s,
      box-shadow 0.2s,
      color 0.2s,
      var(--dds-focus-transition);
  }
}

.label {
  &:hover .content {
    background-color: var(--dds-color-surface-hover-default);
  }

  &:first-child .content {
    margin-inline-end: -1px;
    border-top-left-radius: var(--dds-border-radius-button);
    border-bottom-left-radius: var(--dds-border-radius-button);
  }
  &:last-child .content {
    border-top-right-radius: var(--dds-border-radius-button);
    border-bottom-right-radius: var(--dds-border-radius-button);
  }

  &:not(:first-child):not(:last-child) .content {
    margin-inline-end: -1px;
  }

  input:checked + .content {
    color: var(--dds-color-text-on-action);
    border-color: var(--dds-color-surface-action-selected);
    background-color: var(--dds-color-surface-action-selected);
    position: relative;
    z-index: 0;
  }

  input:focus-visible + .content {
    position: relative;
    z-index: 0;
  }
}
