.rating-container {
  display: flex;
  gap: var(--dds-spacing-x1);
}

.rating-container--row {
  flex-direction: row;
  align-items: center;
}

.rating-container--column {
  flex-direction: column;
  align-items: start;
}

.rating-submitted-title {
  display: inline-flex;
  align-items: center;
  gap: var(--dds-spacing-x0-5);
}

.button {
  padding: 0 !important;
}
