.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  width: fit-content;
  border: 1px solid var(--dds-color-border-default);
  border-radius: var(--dds-border-radius-rounded);
  background-color: var(--dds-color-surface-default);
  color: var(--dds-color-text-default);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      border-color var(--dds-motion-micro-state),
      background-color var(--dds-motion-micro-state),
      var(--dds-focus-transition);
  }

  &:hover {
    border-color: var(--dds-color-border-action-hover);
    background-color: var(--dds-color-surface-hover-default);
  }
}

.small {
  gap: var(--dds-spacing-sm-icon-text-gap);
  padding: var(--dds-spacing-x0-5) var(--dds-spacing-x1);
}

.xsmall {
  gap: var(--dds-spacing-xs-icon-text-gap);
  padding: var(--dds-spacing-x0-25) var(--dds-spacing-x0-5);
}

.content--with-icon {
  &.small {
    padding-inline-start: var(--dds-spacing-x0-75);
  }
  &.xsmall {
    padding-inline-start: var(--dds-spacing-x0-25);
  }
}

input:checked + .content {
  color: var(--dds-color-text-on-action);
  background-color: var(--dds-color-surface-action-resting);
  border-color: var(--dds-color-surface-action-resting);
}

input:checked + .content:hover {
  background-color: var(--dds-color-surface-action-hover);
  border-color: var(--dds-color-surface-action-hover);
}
