.stack {
  display: flex;
  align-items: var(--dds-stack-align-items);
  justify-content: var(--dds-stack-justify-content);
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.gap-0 {
  gap: 0;
}

.gap-x-0-125 {
  gap: var(--dds-spacing-x0-125);
}

.gap-x-0-25 {
  gap: var(--dds-spacing-x0-25);
}

.gap-x-0-5 {
  gap: var(--dds-spacing-x0-5);
}

.gap-x-0-75 {
  gap: var(--dds-spacing-x0-75);
}

.gap-x-1 {
  gap: var(--dds-spacing-x1);
}

.gap-x-1-5 {
  gap: var(--dds-spacing-x1-5);
}

.gap-x-2 {
  gap: var(--dds-spacing-x2);
}

.gap-x-2-5 {
  gap: var(--dds-spacing-x2-5);
}

.gap-x-3 {
  gap: var(--dds-spacing-x3);
}

.gap-x-4 {
  gap: var(--dds-spacing-x4);
}

.gap-x-6 {
  gap: var(--dds-spacing-x6);
}

.gap-x-10 {
  gap: var(--dds-spacing-x10);
}

.padding-0 {
  padding: 0;
}

.padding-x-0-125 {
  padding: var(--dds-spacing-x0-125);
}

.padding-x-0-25 {
  padding: var(--dds-spacing-x0-25);
}

.padding-x-0-5 {
  padding: var(--dds-spacing-x0-5);
}

.padding-x-0-75 {
  padding: var(--dds-spacing-x0-75);
}

.padding-x-1 {
  padding: var(--dds-spacing-x1);
}

.padding-x-1-5 {
  padding: var(--dds-spacing-x1-5);
}

.padding-x-2 {
  padding: var(--dds-spacing-x2);
}

.padding-x-2-5 {
  padding: var(--dds-spacing-x2-5);
}

.padding-x-3 {
  padding: var(--dds-spacing-x3);
}

.padding-x-4 {
  padding: var(--dds-spacing-x4);
}

.padding-x-6 {
  padding: var(--dds-spacing-x6);
}

.padding-x-10 {
  padding: var(--dds-spacing-x10);
}
