:root {
  --dds-input-default-width: 320px;
}

.container {
  position: relative;
}

.input-group {
  position: relative;
}

.input {
  position: relative;
  color: var(--dds-text-color--default);
  border: 1px solid var(--dds-color-border-default);
  background-color: var(--dds-color-surface-default);
  padding: var(--dds-spacing-x0-75) var(--dds-spacing-x1)
    var(--dds-spacing-x0-75) var(--dds-spacing-x0-75);
  border-radius: var(--dds-border-radius-1);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
  @media (prefers-reduced-motion: no-preference) {
    transition:
      box-shadow 0.2s,
      border-color 0.2s,
      background-color 0.2s,
      var(--dds-focus-transition);
  }
  &[type='text'],
  &[type='password'],
  &[type='number'],
  &[type='tel'],
  &[type='date'],
  &[type='url'],
  &[type='email'],
  &[type='search'],
  &[type='datetime-local'] {
    -webkit-appearance: none;
  }

  &:not(input):not(textarea):not(.disabled):not(.read-only):not(.active):hover,
  &:hover:enabled:read-write:not(:focus-visible) {
    border-color: var(--dds-color-border-action-hover);
    box-shadow: 0 0 0 1px var(--dds-color-border-action-hover);
  }

  &.input--stateful {
    -webkit-appearance: textfield;

    &:not(.disabled).read-only,
    &:enabled:read-only {
      box-shadow: none;
      border: none;
      outline: none;
      cursor: default;
      background-color: transparent;
      padding-left: 0;
      padding-top: var(--dds-spacing-x0-125);
    }

    &.disabled,
    &:disabled {
      cursor: not-allowed;
      color: var(--dds-color-text-medium);
      background-color: var(--dds-color-surface-field-disabled);
    }
  }
}

.input--hover:hover {
  border-color: var(--dds-color-border-action-hover);
  box-shadow: 0 0 0 1px var(--dds-color-border-action-hover);
}

.input--stateful-danger {
  border-color: var(--dds-color-border-danger);
  box-shadow: 0 0 0 1px var(--dds-color-border-danger);

  &:not(.disabled):hover:not(:focus-within),
  &:hover:enabled:read-write:not(:focus-within) {
    border-color: var(--dds-color-border-danger);
    box-shadow: 0 0 0 1px var(--dds-color-border-danger);
  }

  &:not(.disabled):focus-within,
  &:focus-within:enabled:read-write,
  &:hover:focus-within:enabled:read-write,
  &:active:enabled:read-write {
    border-color: 1px solid var(--dds-color-border-default);
  }
}

.input--medium {
  padding: var(--dds-spacing-x0-75);
}

.input--small {
  padding: var(--dds-spacing-x0-5) var(--dds-spacing-x0-75);
}

.input--tiny {
  padding: var(--dds-spacing-x0-25) var(--dds-spacing-x0-5);
}

.input--with-affix {
  gap: var(--dds-spacing-x1);
}
