.overview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--dds-spacing-x0-5);
}

.card {
  cursor: pointer;
  transition: background-color 0.2s;

  @media (prefers-reduced-motion: no-preference) {
    transition: all 0.2s;
  }

  &:hover {
    background-color: var(--dds-color-surface-hover-default);
  }
}

.card__name {
  padding-inline: var(--dds-spacing-x0-25);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.group-header {
  display: flex;
  align-items: center;
  gap: var(--dds-spacing-x0-25);
  position: relative;
}

.message {
  position: absolute;
  right: 50%;
}

.code-block {
  background-color: var(--dds-color-surface-inverse-default);
  padding: var(--dds-spacing-x0-5) var(--dds-spacing-x1);
  border-radius: var(--dds-border-radius-surface);
  code.icon-code {
    background-color: var(--dds-color-surface-inverse-default) !important;
    border-color: transparent !important;
    color: var(--dds-color-text-on-inverse);
  }
}

.card__badge {
  text-transform: uppercase;
  scale: 90%;
  background-color: var(--dds-color-surface-highlighted-default);
  border-radius: var(--dds-border-radius-);
}
