.svg {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  --dds-chevron-transition: transform 0.2s linear;
}

.group {
  transition: var(--dds-chevron-transition);
}

.group--up {
  transform: translateY(3px);
}

.group--down {
  transform: translateY(0);
}

.left {
  transition: var(--dds-chevron-transition);
  transform-origin: 1px 1px;
}

.left--up {
  transform: rotate(-90deg) translateY(0);
}
.left--down {
  transform: rotate(0) translateY(0);
}

.right {
  transition: var(--dds-chevron-transition);
  transform-origin: 7px 1px;
}

.right--up {
  transform: rotate(90deg) translateY(0);
}
.right--down {
  transform: rotate(0) translateY(0);
}
